.product-page {
  padding: 24px;
  width: 100%;
  box-sizing: border-box;
  min-height: calc(100vh - 305px);

  .product__content {
    svg {
      height: 300px;
      width: 300px;
      min-width: 300px;
    }
  }

  .product__control {
    margin-top: 12px;
  }
}
